<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>809</integer>
    <key>capHeight</key>
    <integer>709</integer>
    <key>descender</key>
    <integer>-191</integer>
    <key>familyName</key>
    <string>Glide</string>
    <key>italicAngle</key>
    <integer>-12</integer>
    <key>openTypeHeadCreated</key>
    <string>2026/04/07 03:22:52</string>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>MBLD</string>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Glide ThinItalic</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>ThinItalic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>497</integer>
  </dict>
</plist>
