<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>IJ</key>
    <string>I_J_.glif</string>
    <key>Scedilla</key>
    <string>S_cedilla.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a.ss02</key>
    <string>a.ss02.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand.ss04</key>
    <string>ampersand.ss04.glif</string>
    <key>aogonek.ss02</key>
    <string>aogonek.ss02.glif</string>
    <key>aring.ss02</key>
    <string>aring.ss02.glif</string>
    <key>atilde.ss02</key>
    <string>atilde.ss02.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>uni018F</key>
    <string>uni018F_.glif</string>
    <key>uni0259</key>
    <string>uni0259.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
