<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Eth</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>OE</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
    </array>
    <key>public.kern1.a.ss02</key>
    <array>
      <string>a.ss02</string>
      <string>agrave.ss02</string>
      <string>aacute.ss02</string>
      <string>acircumflex.ss02</string>
      <string>atilde.ss02</string>
      <string>adieresis.ss02</string>
      <string>aring.ss02</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
      <string>braceleft</string>
    </array>
    <key>public.kern1.bracketleft.case</key>
    <array>
      <string>bracketleft.case</string>
      <string>braceleft.case</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
      <string>uni24C5</string>
      <string>circle</string>
      <string>uni25CF</string>
      <string>uni262E</string>
      <string>uni2780</string>
      <string>uni2781</string>
      <string>uni2782</string>
      <string>uni2783</string>
      <string>uni2784</string>
      <string>uni2785</string>
      <string>uni2786</string>
      <string>uni2787</string>
      <string>uni2788</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>oe</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotleft.case</key>
    <array>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.guillemotright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.hyphen.case</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.quotesinglbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>nine</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Thorn</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>Ccedilla</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>OE</string>
      <string>G.ss01</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Scaron</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ydieresis</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
    </array>
    <key>public.kern2.a.ss02</key>
    <array>
      <string>a.ss02</string>
      <string>agrave.ss02</string>
      <string>aacute.ss02</string>
      <string>acircumflex.ss02</string>
      <string>atilde.ss02</string>
      <string>adieresis.ss02</string>
      <string>aring.ss02</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
      <string>braceright</string>
    </array>
    <key>public.kern2.bracketright.case</key>
    <array>
      <string>bracketright.case</string>
      <string>braceright.case</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>eth</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oe</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
      <string>uni24C5</string>
      <string>circle</string>
      <string>uni25CF</string>
      <string>uni262E</string>
      <string>uni2780</string>
      <string>uni2781</string>
      <string>uni2782</string>
      <string>uni2783</string>
      <string>uni2784</string>
      <string>uni2785</string>
      <string>uni2786</string>
      <string>uni2787</string>
      <string>uni2788</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotleft.case</key>
    <array>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guillemotright.case</key>
    <array>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>uni00AD</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.hyphen.case</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>ntilde</string>
      <string>r.ss03</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.quotesinglbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>scaron</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>six</string>
    </array>
  </dict>
</plist>
