<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.featureWriters</key>
    <array>
      <dict>
        <key>class</key>
        <string>CursFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>KernFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>MarkFeatureWriter</string>
      </dict>
      <dict>
        <key>class</key>
        <string>GdefFeatureWriter</string>
      </dict>
    </array>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3306</string>
    <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
    <array>
      <string>abcde</string>
      <string>0235689?@BCDGJOPQSUabcefghmnpqrsux</string>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <true/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>900</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>100</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>900</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>100</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>uni000D</string>
      <string>space</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>question</string>
      <string>at</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>uni00A0</string>
      <string>exclamdown</string>
      <string>cent</string>
      <string>sterling</string>
      <string>currency</string>
      <string>yen</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>dieresis</string>
      <string>copyright</string>
      <string>ordfeminine</string>
      <string>guillemotleft</string>
      <string>logicalnot</string>
      <string>uni00AD</string>
      <string>registered</string>
      <string>macron</string>
      <string>degree</string>
      <string>plusminus</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>acute</string>
      <string>uni03BC</string>
      <string>paragraph</string>
      <string>periodcentered</string>
      <string>cedilla</string>
      <string>onesuperior</string>
      <string>ordmasculine</string>
      <string>guillemotright</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>questiondown</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>multiply</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>divide</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>dotlessi</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>OE</string>
      <string>oe</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Ydieresis</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>florin</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>uni02C9</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>uni0394</string>
      <string>uni03A9</string>
      <string>uni03BC.1</string>
      <string>pi</string>
      <string>uni2007</string>
      <string>uni2008</string>
      <string>uni200B</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>perthousand</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>uni2042</string>
      <string>fraction</string>
      <string>uni2051</string>
      <string>uni2070</string>
      <string>uni2074</string>
      <string>uni2075</string>
      <string>uni2076</string>
      <string>uni2077</string>
      <string>uni2078</string>
      <string>uni2079</string>
      <string>uni2080</string>
      <string>uni2081</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni2085</string>
      <string>uni2086</string>
      <string>uni2087</string>
      <string>uni2088</string>
      <string>uni2089</string>
      <string>Euro</string>
      <string>uni2113</string>
      <string>trademark</string>
      <string>uni03A9.1</string>
      <string>uni2160</string>
      <string>uni2161</string>
      <string>uni2162</string>
      <string>uni2163</string>
      <string>uni2164</string>
      <string>uni2165</string>
      <string>uni2166</string>
      <string>uni2167</string>
      <string>uni2168</string>
      <string>uni2169</string>
      <string>uni216C</string>
      <string>uni216D</string>
      <string>uni216E</string>
      <string>uni216F</string>
      <string>arrowleft</string>
      <string>arrowup</string>
      <string>arrowright</string>
      <string>arrowdown</string>
      <string>uni2196</string>
      <string>uni2197</string>
      <string>uni2198</string>
      <string>uni2199</string>
      <string>uni21A9</string>
      <string>uni21B0</string>
      <string>uni21B1</string>
      <string>uni21B2</string>
      <string>uni21B3</string>
      <string>uni21B4</string>
      <string>uni21C6</string>
      <string>partialdiff</string>
      <string>uni0394.1</string>
      <string>product</string>
      <string>summation</string>
      <string>minus</string>
      <string>uni2215</string>
      <string>uni2219</string>
      <string>radical</string>
      <string>infinity</string>
      <string>integral</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>dotmath</string>
      <string>uni24C5</string>
      <string>filledbox</string>
      <string>uni25A1</string>
      <string>triagup</string>
      <string>uni25B3</string>
      <string>lozenge</string>
      <string>circle</string>
      <string>uni25CF</string>
      <string>uni262E</string>
      <string>uni2713</string>
      <string>uni2715</string>
      <string>uni2780</string>
      <string>uni2781</string>
      <string>uni2782</string>
      <string>uni2783</string>
      <string>uni2784</string>
      <string>uni2785</string>
      <string>uni2786</string>
      <string>uni2787</string>
      <string>uni2788</string>
      <string>uniE000</string>
      <string>carriagereturn</string>
      <string>uniE002</string>
      <string>f_f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>uniFEFF</string>
      <string>space.frac</string>
      <string>space.tf</string>
      <string>numbersign.tf</string>
      <string>dollar.tf</string>
      <string>percent.tf</string>
      <string>ampersand.ss04</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>plus.tf</string>
      <string>comma.tf</string>
      <string>hyphen.case</string>
      <string>period.tf</string>
      <string>zero.dnom</string>
      <string>zero.numr</string>
      <string>zero.tf</string>
      <string>one.dnom</string>
      <string>one.numr</string>
      <string>one.ss05</string>
      <string>one.tf</string>
      <string>two.dnom</string>
      <string>two.numr</string>
      <string>two.tf</string>
      <string>three.dnom</string>
      <string>three.numr</string>
      <string>three.tf</string>
      <string>four.dnom</string>
      <string>four.numr</string>
      <string>four.tf</string>
      <string>five.dnom</string>
      <string>five.numr</string>
      <string>five.tf</string>
      <string>six.dnom</string>
      <string>six.numr</string>
      <string>six.tf</string>
      <string>seven.dnom</string>
      <string>seven.numr</string>
      <string>seven.tf</string>
      <string>eight.dnom</string>
      <string>eight.numr</string>
      <string>eight.tf</string>
      <string>nine.dnom</string>
      <string>nine.numr</string>
      <string>nine.tf</string>
      <string>colon.tf</string>
      <string>semicolon.tf</string>
      <string>less.tf</string>
      <string>equal.tf</string>
      <string>greater.tf</string>
      <string>G.ss01</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>grave.uc</string>
      <string>a.ordn</string>
      <string>a.ss02</string>
      <string>b.ordn</string>
      <string>c.ordn</string>
      <string>d.ordn</string>
      <string>e.ordn</string>
      <string>f_f.1</string>
      <string>f_f_i.1</string>
      <string>f_f_l.1</string>
      <string>fi.1</string>
      <string>fl.1</string>
      <string>f.ordn</string>
      <string>g.ordn</string>
      <string>h.ordn</string>
      <string>i.ordn</string>
      <string>j.ordn</string>
      <string>k.ordn</string>
      <string>l.ordn</string>
      <string>m.ordn</string>
      <string>n.ordn</string>
      <string>o.ordn</string>
      <string>p.ordn</string>
      <string>q.ordn</string>
      <string>r.ordn</string>
      <string>r.ss03</string>
      <string>s.ordn</string>
      <string>t.ordn</string>
      <string>u.ordn</string>
      <string>v.ordn</string>
      <string>w.ordn</string>
      <string>x.ordn</string>
      <string>y.ordn</string>
      <string>z.ordn</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>exclamdown.case</string>
      <string>cent.tf</string>
      <string>sterling.tf</string>
      <string>currency.tf</string>
      <string>yen.tf</string>
      <string>section.tf</string>
      <string>dieresis.narrow</string>
      <string>dieresis.uc</string>
      <string>dieresis.uc.narrow</string>
      <string>guillemotleft.case</string>
      <string>logicalnot.tf</string>
      <string>uni00AD.case</string>
      <string>registered.ss06</string>
      <string>macron.uc</string>
      <string>plusminus.tf</string>
      <string>acute.uc</string>
      <string>guillemotright.case</string>
      <string>questiondown.case</string>
      <string>multiply.tf</string>
      <string>agrave.ss02</string>
      <string>aacute.ss02</string>
      <string>acircumflex.ss02</string>
      <string>atilde.ss02</string>
      <string>adieresis.ss02</string>
      <string>aring.ss02</string>
      <string>divide.tf</string>
      <string>florin.tf</string>
      <string>circumflex.uc</string>
      <string>caron.alt</string>
      <string>caron.alt.uc</string>
      <string>caron.uc</string>
      <string>breve.uc</string>
      <string>dotaccent.uc</string>
      <string>ring.uc</string>
      <string>tilde.uc</string>
      <string>hungarumlaut.uc</string>
      <string>uni0326</string>
      <string>uni2007.tf</string>
      <string>uni2008.tf</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>perthousand.tf</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>Euro.tf</string>
      <string>minus.tf</string>
      <string>approxequal.tf</string>
      <string>notequal.tf</string>
      <string>lessequal.tf</string>
      <string>greaterequal.tf</string>
      <string>commaturn</string>
      <string>undercommaaccent</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>uni0326</key>
      <string>mark</string>
    </dict>
    <key>public.postscriptNames</key>
    <dict>
      <key>onesuperior</key>
      <string>uni00B9</string>
      <key>threesuperior</key>
      <string>uni00B3</string>
      <key>twosuperior</key>
      <string>uni00B2</string>
      <key>uni0394.1</key>
      <string>uni2206</string>
      <key>uni03A9.1</key>
      <string>uni2126</string>
      <key>uni03BC.1</key>
      <string>uni03BC</string>
    </dict>
  </dict>
</plist>
